<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Avalanche"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".music9"></activity>
        <activity android:name=".music8" />
        <activity android:name=".music7" />
        <activity android:name=".music6" />
        <activity android:name=".music5" />
        <activity android:name=".music4" />
        <activity android:name=".Register" />
        <activity
            android:name=".ui.login"
            android:label="@string/title_activity_register"
            tools:ignore="MissingClass" />
        <activity android:name=".music3" />
        <activity android:name=".music2" />
        <activity android:name=".player_list" />
        <activity android:name=".activity_music_player" />
        <activity android:name=".music_player"></activity>
        <activity android:name=".Home_Page" />
        <activity android:name=".LOGIN" android:noHistory="true"/>
        <activity android:name=".MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>